<style>
    h2{
        font-family: "Trocchi", serif;
        font-weight: 400;
        font-style: normal;
        color: #7e5758;
    }
   p{
        font-family: "Josefin Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        color: #7e5758;
    }
</style>
<div>
    <br><br><br>
    <h2 class = "text-4xl" style = "text-align: center; ">ABOUT</h2>
    <div class = "grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4 justify-items-center" style="padding: 3% 10%;">
        <div class = "gap-4">
            <img src="cookies/choco-white.png" alt="" style = "height: 330px">
        </div>
        <div class = "gap-4">
            
            <br>
            <p class = "max-w-3xl mx-auto mb-10 text-lg">Established in 2024, Cookie Corner is your ultimate destination for freshly baked cookies made with love.  With a wide variety of cookie flavors, from timeless classics like chocolate chip to unique ones like matcha fever! every bite will surely satisfy your cravings.
            </p>

            <p class = "max-w-3xl mx-auto mb-10 text-lg">
                At Cookie Corner, we believe in the magic of freshly baked treats, we ensure that each cookie is made daily to bring you that warm, comforting feel. Whether celebrating a special moment or simply indulging in a sweet treat, Cookie Corner is here to make your day a little sweeter!
            </p>

        </div>

    </div>
</div>
