<style>
    h2{
        font-family: "Trocchi", serif;
        font-weight: 400;
        font-style: normal;
    }
    span, p, a{
        font-family: "Josefin Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    .cookie-name{
        font-family: "Trocchi", serif;
        font-weight: 400;
        font-style: normal;
        color: #7e5758;
    }
    .price{
        font-family: "Josefin Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        color: #7e5758;
    }
    button{
        background-color: #7e5758;
        font-family: "Josefin Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    button:hover{
        background-color: #c39898;
    }
</style>

<header class="">
    <div class="w-full bg-center bg-cover"
      style="background-image: url(cookies-hero.png);">
      <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
        <div class="text-center">
          <div class="container px-4 mx-auto">
            <div class="max-w-4xl mx-auto text-center">
              <span class="text-gray-200 font-semibold uppercase tracking-widest">What we offer</span>
              <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100 uppercase" style = "color: #f1e5d1">Wide Variety of <br> Homemade <br>Fresh Cookies</h2>
              <p class="max-w-3xl mx-auto mb-10 text-lg text-gray-300">
                {{ explanation }}
              </p>
              <!--<a class="inline-block w-full md:w-auto mb-4 md:mr-6 py-5 px-8 text-sm font-bold uppercase border-2 border-transparent bg-gray-200 rounded hover:bg-gray-100 text-gray-800 transition duration-200"
                href="#">start your free trial</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  

  <div style="background-color: #987070">
    <br><br>
    <h2 class = "text-4xl text-center" style = "color: #f5f5f5">OUR BEST SELLERS!</h2>

    <div class = "grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-3 sm:gap-5 md:gap-4  justify-items-center">

        <div class="relative flex flex-col my-6 shadow-sm border border-slate-200 rounded-lg w-96" style="background-color: #ffffff;">
            <div class="relative p-2.5 h-96 overflow-hidden rounded-xl bg-clip-border">
            <img
                [src]=img1
                alt="card-image"
                class="h-full w-full object-cover rounded-md"
            />
            </div>
            <div class="p-4">
            <div class="mb-2 flex items-center justify-between">
                <p class="text-slate-800 text-xl font-semibold cookie-name">
                RED VELVET COOKIE
                </p>
                <p class="text-cyan-600 text-xl font-semibold price">
                PHP 95.00
                </p>
            </div>
            <p class="text-slate-600 leading-normal font-light">
                These are soft-baked red velvet chocolate chip cookies made from scratch.
            </p>
            <button class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none uppercase" type="button">
                Add to Cart
            </button>
            </div>
        </div>
        
        <div class="relative flex flex-col my-6 shadow-sm border border-slate-200 rounded-lg w-96" style="background-color: #ffffff;">
            <div class="relative p-2.5 h-96 overflow-hidden rounded-xl bg-clip-border">
            <img
                [src]=img2
                alt="card-image"
                class="h-full w-full object-cover rounded-md"
            />
            </div>
            <div class="p-4">
            <div class="mb-2 flex items-center justify-between">
                <p class="text-slate-800 text-xl font-semibold cookie-name">
                S'MORES COOKIE
                </p>
                <p class="text-cyan-600 text-xl font-semibold price">
                PHP 110.00
                </p>
            </div>
            <p class="text-slate-600 leading-normal font-light">
                These chewy, gooey S'mores cookies are beyond delicious and there's no campfire required!
            </p>
            <button class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none uppercase" type="button">
                Add to Cart
            </button>
            </div>
        </div>
        
        

        <div class="relative flex flex-col my-6 shadow-sm border border-slate-200 rounded-lg w-96" style = "background-color: #ffffff;">
            <div class="relative p-2.5 h-96 overflow-hidden rounded-xl bg-clip-border">
            <img
                [src]=img3
                class="h-full w-full object-cover rounded-md"
            />
            </div>
            <div class="p-4">
            <div class="mb-2 flex items-center justify-between">
                <p class="text-slate-800 text-xl font-semibold cookie-name">
                CHOCO CHIP COOKIE
                </p>
                <p class="text-cyan-600 text-xl font-semibold price">
                PHP 80.00
                </p>
            </div>
            <p class="text-slate-600 leading-normal font-light">
                The classic choco chip cookies with crisp edges and chewy middles loaded with chocolate chips!!
            </p>
            <button class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none uppercase" type="button">
                Add to Cart
            </button>
            </div>
        </div>
        <br>
    </div>
  </div>

<div style = "background-color: #f1e5d1;">
    <br><br>  
    <h2 class = "text-4xl text-center" style="color: #7e5758;;">OUR COOKIES</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4" style = "padding: 3% 13%;">

        <div class="grid gap-2">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c2.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c3.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-2">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c7.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c5.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c6.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-2">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c8.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="cookies/c1.jpg" alt="">
            </div>
        </div>
    </div>

  
</div>

